<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Composite UI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/validation")
    <script src="~/Scripts/jquery.pubsub.js"></script>
    <style>
        table {
            margin: 0 auto;
            
        }

            table th {
                font-weight: bold;
                border-bottom: 1px solid #ddd;
                text-align: center;
                padding: 15px;
            }

            table td {
                border-bottom: 1px solid #ddd;
                text-align: center;
                padding: 15px;
            }
    </style>
</head>
<body>
    <div style="text-align: center">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
